body {
 
  background-image: url(../img/1627347426285.jpeg.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 opacity: 90%;
  
}

.container{
  margin-top: 50px;
  max-width: 800px;
 

}

.btn-success{
  margin:12px 0;
}

