*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
  font-family: 'Exo 2', sans-serif;
  
}

header {
display: flex;
padding: 10px ;
justify-content:center 
}

header h1 {
  padding: 0 0px;
  margin-top: 30px;
  
}

header img {
  width: 110px;
  margin: 0 30px;
}

#ebac {
  width: 200px;
  height: 80px;
  
    }

.container {
  max-width: 1000px;
  justify-content: center;
  margin: auto;
 }


select {
width: 100px;
}

form {
 display: flex;
 justify-content: center;
 padding-top: 50px;
 padding-bottom: 20px ;
}

input {
  margin: 0 10px;
  padding: 5px;
  border: 1px solid black;
  font-weight: 400; 
}

#nomes {
width: 420px;
}

#cadastrar {
  background-color: rgb(6, 172, 20);
  color: #fff;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
}
table {
margin-top: 50px;
margin: auto;
}

thead th {
  border-bottom: 2px solid black;
  font-size: 1.4rem;
  font-weight: 500;
}


 table th {
  padding: 05px 70px;
  text-align: left;
  }

  table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  }

tbody th {
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.096);
  
}


.name {
  text-align: left;
}


th img {
  width: 30px;
  background-color: #f7f7f7;
}

  
tfoot th {
  text-align: center;
  font-weight: 600;
}